# Node
node_modules/

# Env files (root and any subfolders)
.env
**/.env
.env.local
**/.env.local

# Build output
dist/
build/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE/editor
.vscode/
.idea/

# Misc
.vercel/
.turbo/

